/*body {
    text-align: center;
    background: cornflowerblue;
}
*/

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

img {
    width: 50px;
    border-radius: 50px;
}

input {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 12px 10px;
    text-align: center;
    width: 250px;
}

button {
    border: none;
    border-radius: 10px;
    padding: 12px 10px;
    text-align: center;
    cursor: pointer;
    background: coral;
    color: whitesmoke;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -75%);
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 3rem;
}

.form-signin {
    width: 200%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}


/* Fallback for Edge
  -------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}


/* Fallback for IE
  -------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.heart {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    height: auto;
    height: 300px;
    line-height: 300px;
}

.fa-heart {
    margin-left: auto;
    margin-right: auto;
    font-size: 150px !important;
    color: red;
    animation-duration: 2s;
    animation-name: beating;
    animation-iteration-count: infinite;
}

@-webkit-keyframes beating {
    0%,
    20%,
    100% {
        transform: scale(0.8);
        opacity: 0.2;
    }
    25% {
        transform: scale(1.2);
        opacity: 1;
    }
    35% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(1.1);
        opacity: 1;
    }
}