body
{
background: url(image/gamebg.png);
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
position: relative;
width: 100%;
margin: 0 auto;
padding: 0;
}

.bubb
{
position: absolute;
width: 100px;
height: 151px;
font: bold 16px verdana;
text-align: center;
color: #FFFFFF;
line-height: 150px;
vertical-align: middle;
padding: 0px;
background-size: 100px 150px;

}

#timer
{  
padding: 0px 15px;
	text-align: left;
	position: absolute; 
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial 		Black", sans-serif;
	top: 0;
	font-size: 60px;
	color: white;
	position: absolute;
	text-decoration: none
	}
	

#score
{
padding: 0px 15px;
font-size:60px;
font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
color: white;
top: 25px;
right: 50px;
display: none;
text-align:right;
}

#whatlevel
{padding: 0px 0px;
font-size:60px;
font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
color: white;
bottom: 0px;
right: 15px;
display: none;
text-align:right;
position: absolute;
	}

#reachscore
{padding: 5px 0px;
font-size:30px;
font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
color: white;
display: none;
text-align: center;
position: absolute;
left: 45%;
top: 0px;
	}

#start
{
	width: 150px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	vertical-align: middle;
	font: bold 15px arial;
	background-image: url(image/insect1.png);
	background-size: 150px 200px;
	background-repeat: no-repeat;
	color: white;
	position: absolute;
	left: 45%;
	top: 30%;
	
}

#restart
{	position: absolute;
	left: 42%;
	top: 45%;
	display: none;
}

input[type=button] 
{
	padding:15px 45px;
	background:#ccc;
	font: bold 30px arial;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; }

#logo
{
	padding: 0px 15px;
	bottom: 29px;
	right: 114px;
	text-align: right;
	position: absolute;
	width: 73px;
	height: 38px;
	}

#start:hovers
{
cursor: pointer;
}

#back
{
	padding: 10px 15px;
	text-align: left;
	position: absolute; 
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial 		Black", sans-serif;
	bottom: 0;
	font-size: 35px;
	color: #000;
	position: absolute;
	text-decoration: none;
}	

#button
{
	padding: 10px 15px;
	text-align: left;
	position: absolute; 
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial 		Black", sans-serif;
	bottom: 0;
	font-size: 35px;
	color: #000;
	position: absolute;
	text-decoration: none;
}	

	/* unvisited link */
a:link {
    color: white;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color:#333;
	text-decoration: none;
}

/* selected link */
a:active {
    color: grey;
	text-decoration: none;
}
